{{#data}}
<div class="panel card-dashboard shadow-xs border-0 panel-indicator" style="height:380px">
  <div class="panel-body">
    <div class="panel-indicator-histogram">
      <div id="ploty-chart-{{id}}"></div>
      <p>{{title}} - {{author}}</p>
    </div>
  </div>
</div>
{{/data}}