{{#json}}
<div class="panel card-dashboard shadow-xs border-0 panel-indicator" style="height:380px">
  <div class="panel-body">
    <div class="panel-indicator-histogram">
      <div id="plotly-chart-{{id}}" style="height: 380px"></div>
      <p>{{title}} - {{author}}</p>
    </div>
  </div>
</div>
{{/json}}